.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width:95%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

 body{
    margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px
}
#header-name{
    border-bottom: 1px solid;
}
h1,h2,h3{line-height:1.2}
a{
    text-decoration: none; !important
}